body {
    background-color: var(--background);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: Manrope;
    font-weight: 800;
}

.advice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    width: 540px;
    
    background-color: var(--background-card);
    padding: 0px 48px;
    margin: 0px 20px;
    border-radius: 15px;
}

.advice-card .number {
    color: var(--text-high-color);
    letter-spacing: 4px;
    font-size: 13px;

    margin-top: 47px;
}

.advice-card .words {
    color: var(--text-color);
    font-size: 27px; 

    margin-top: 26px;
}

.advice-card .bar{
    margin-top: 40px;
}

.advice-card .dice {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    background-color: var(--text-high-color);
    transform: translateY(55%);  
  }
  .advice-card .dice:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0px 6px 25px var(--text-high-color);
    transition: ease-in 0.3s;
  }